streamlit

langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-groq

chromadb==0.4.24
pysqlite3-binary
numpy==1.26.4

sentence-transformers
transformers
torch
accelerate
groq
